.WaveForm {
    display:flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #cccbcc;
    width: 100%;
}

label {
    margin: 0.2em;
    padding: 1em;
    width: 50%;
    background-color: #dddcdd;
    border-radius: 1em;
}

input {
    margin: 0.5em;
}

#frequencies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sendButton {
    margin: 1em;
    background-color: darksalmon;
    padding: 1em;
    width: 15%;
}

#addButton {
    margin: 1em;
    background-color: antiquewhite;
    width: 10%;
}

#error {
    color: red;
}